# Ignorar binários pesados
*.exe
*.zip

# Ignorar a pasta de build final (opcional, se não quiser versionar o executável do addon)
build/

# Node and Angular dev folders
node_modules/
.angular/cache/
.angular/
dist/